html
  head
    title Flashpad
    link(rel="stylesheet", href="/semantic/semantic.min.css")
  body
    .ui.container(style="text-align: center; padding-top: 80px; font-size: 1.5em;")
      .ui.huge.header Flashpad
      p Real-time collaborative Markdown editor. &#x26A1;&#xFE0F;&#x1F4DD;
      a.ui.massive.button.right.labeled.icon(href="/pad/" + padId)
        | Start Jotting
        i.file.text.icon
      br
      br
      a.ui.labeled.icon(href="https://github.com/tma02/flashpad/", target="_blank")
        | GitHub
        i.github.icon
