extends app.pug

block preview
  #preview(style="position: absolute; top: 31px; right: 0; left: 50%; bottom: 0; overflow: auto; padding: 8px;")
    div(style="text-align: center;")
      | A preview of your markdown output will appear here.

block scripts
  script(src="/static/pad.js")
