html
  head
    title Flashpad
    link(rel="stylesheet", href="/semantic/semantic.min.css")
    style.
      .remote-cursor {
        position: absolute;
        border-left: 2px solid white;
      }
      .red-selection {
        background: rgba(219, 40, 40, 0.5) !important;
      }
      .orange-selection {
        background: rgba(242, 113, 28, 0.5) !important;
      }
      .yellow-selection {
        background: rgba(251,189,8, 0.5) !important;
      }
      .olive-selection {
        background: rgba(181,204,24, 0.5) !important;
      }
      .green-selection {
        background: rgba(33,186,69, 0.5) !important;
      }
      .teal-selection {
        background: rgba(0,181,173, 0.5) !important;
      }
      .blue-selection {
        background: rgba(33,133,208, 0.5) !important;
      }
      .violet-selection {
        background: rgba(100,53,201, 0.5) !important;
      }
      .purple-selection {
        background: rgba(163,51,200, 0.5) !important;
      }
      .pink-selection {
        background: rgba(224,57,151, 0.5) !important;
      }
      .brown-selection {
        background: rgba(165,103,63, 0.5) !important;
      }
      .grey-selection {
        background: rgba(118,118,118, 0.5) !important;
      }
  body
    .ui.basic.modal
      .content(style="text-align: center;")
        h1 You can collaborate with others by sharing your pad link.
        .ui.big.label
          i.linkify.icon
          code#copy-url=url + path
        a.ui.big.label#copy-button 
          code Copy
    #editor(style="position: absolute; top: 0; right: 50%; left: 0; bottom: 31px;")
    .ui.mini.menu.bottom.fixed.inverted
      .menu#connected
      .right.menu
        a.item#share Share
    #preview(style="position: absolute; top: 0; right: 0; left: 50%; bottom: 31px; overflow: auto; padding: 8px;")
      div(style="text-align: center;")
        | A preview of your markdown output will appear here.
    script(src="/jquery/jquery.min.js")
    script(src="/semantic/semantic.min.js")
    script(src="/ace/ace.js")
    script(src="/socket.io/socket.io.js")
    script(src="/marked/marked.js")
    script(src="/diff-match-patch/index.js")
    script.
      var url='#{url}';
      var path='#{path}';
    script(src="/static/app.js")
