html
  head
    title Flashpad
    link(rel="stylesheet", href="/semantic/semantic.min.css")
    style.
      .remote-cursor {
        position: absolute;
        border-left: 2px solid white;
      }
      .red-cursor {
        border-left: 2px solid #DB2828;
      }
      .orange-cursor {
        border-left: 2px solid #F2711C;
      }
      .yellow-cursor {
        border-left: 2px solid #FBBD08;
      }
      .olive-cursor {
        border-left: 2px solid #B5CC18;
      }
      .green-cursor {
        border-left: 2px solid #21BA45;
      }
      .teal-cursor {
        border-left: 2px solid #00B5AD;
      }
      .blue-cursor {
        border-left: 2px solid #2185D0;
      }
      .violet-cursor {
        border-left: 2px solid #6435C9;
      }
      .purple-cursor {
        border-left: 2px solid #A333C8;
      }
      .pink-cursor {
        border-left: 2px solid #A333C8;
      }
      .brown-cursor {
        border-left: 2px solid #A5673F;
      }
      .grey-cursor {
        border-left: 2px solid #767676;
      }
  body
    .ui.basic.modal
      .content(style="text-align: center;")
        h1 You can collaborate with others by sharing your pad link.
        .ui.big.label
          i.linkify.icon
          code#copy-url=url + path
        a.ui.big.label#copy-button 
          code Copy
    #editor(style="position: absolute; top: 0; right: 50%; left: 0; bottom: 31px;")
    .ui.mini.menu.bottom.fixed.inverted
      .menu#connected
      .right.menu
        a.item#share Share
    #preview(style="position: absolute; top: 0; right: 0; left: 50%; bottom: 31px; overflow: auto; padding: 8px;")
      div(style="text-align: center;")
        | A preview of your markdown output will appear here.
    script(src="/jquery/jquery.min.js")
    script(src="/semantic/semantic.min.js")
    script(src="/ace/ace.js")
    script(src="/socket.io/socket.io.js")
    script(src="/marked/marked.js")
    script(src="/diff-match-patch/index.js")
    script.
      var url='#{url}';
      var path='#{path}';
    script(src="/static/app.js")
