extends app.pug

block head
  link(rel="stylesheet", href="/reveal.js/css/reveal.css")
  link(rel="stylesheet", href="/reveal.js/css/theme/white.css")
  style.
    #editor {
      top: 36px !important;
    }
    .progress {
      width: 50% !important;
      margin-left: 50% !important;
    }

block preview
  #preview(style="position: absolute; top: 31px; right: 0; left: 50%; bottom: 0; overflow: auto; padding: 8px;")
    .reveal
      .slides
        section A preview of your slides will appear here.

block scripts
  script(src="/headjs/head.min.js")
  script(src="/reveal.js/js/reveal.js")
  script(src="/static/slide.js")
